<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Utility.Listenerclass"></listener>
</listeners>
  <test name="Case1" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	<class name="Tests.TestCase1"/>
  	<class name="Tests.TestCase2"/>
  </classes>
  </test>
  <test name="Case2" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	<class name="Tests.TestCase3"/>
  	<class name="Tests.TestCase4"/>
  </classes>
  </test>
  <test name="Case3" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	<class name="Tests.TestCase5"/>
    <class name="Tests.TestCase6"/>
  </classes>
  </test>
  <test name="Case4" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	 <class name="Tests.TestCase7"/>
      <class name="Tests.TestCase8"/>
  </classes>
  </test>
  <test name="Case5" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	 <class name="Tests.TestCase9"/>
     <class name="Tests.TestCase10"/>
  </classes>
  </test>
  <test name="Case6" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	 <class name="Tests.TestCase11"/>
     <class name="Tests.TestCase12"/>
  </classes>
  </test>
  <test name="Case7" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	  <class name="Tests.TestCase13"/>
     <class name="Tests.TestCase14"/>
  </classes>
  </test>
  <test name="Case8" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	  <class name="Tests.TestCase15"/>
      <class name="Tests.TestCase16"/>
  </classes>
  </test>
  <test name="Case9" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	   <class name="Tests.TestCase17"/>
       <class name="Tests.TestCase18"/>
  </classes>
  </test>
  <test name="Case10" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	   <class name="Tests.TestCase19"/>
       <class name="Tests.TestCase20"/>
  </classes>
  </test>
  <test name="Case11" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	   <class name="Tests.TestCase21"/>
      <class name="Tests.TestCase22"/>
  </classes>
  </test>
  <test name="Case12" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	   <class name="Tests.TestCase23"/>
       <class name="Tests.TestCase24"/>
  </classes>
  </test>
  <test name="Case13" thread-count="3">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="https://automationexercise.com/"></parameter>
  <classes>
  	   <class name="Tests.TestCase25"/>
       <class name="Tests.TestCase26"/>
  </classes>
  </test>
</suite> <!-- Suite -->
